.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container h2 {
  text-align: center;
}

.login-container form div {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 95%;
  padding: 5px;
  text-align: center;
}

.button-container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.login-container button {
  flex: 1;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

.login-container button:hover {
  background-color: #0056b3;
}